<!DOCTYPE html>
<html lang="en">
    <%- include(`./partials/head.ejs`)  %>
<body>
    <%- include(`./partials/buttons.ejs`)  %>
    <div class="welcome content">
        <div class="container-jumbotron">
                <div class="jumbotron">
                    <h1 class="display-4">Hello, World</h1>
                    <p class="lead">This is a simple hero unit , a simple  sit amet consectetur adipisicing elit.</p>
                    <hr class="my-4" />
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. The Pali-Aike volcanic field is a volcanic field in Argentina that straddles the border with</p>
                    <a class="btn btn-primary btn-lg" href="/blogs" role="button">Check out Our Blog</a>
                </div>
            </div>
    </div>
</body>
</html>


       
        
