<div class="buttons">
    <a class="btn btn-primary btn-lg" href="/blogs/updates" role="button" >Updates</a>
    <a class="btn btn-primary btn-lg" href="/blogs/environment" role="button">Environment</a>
    <a class="btn btn-primary btn-lg" href="/blogs/technology" role="button">Technology</a>
    <a class="btn btn-primary btn-lg" href="/blogs/design" role="button">Design</a>
    <a class="btn btn-primary btn-lg" href="/blogs/culture" role="button">Culture</a>
    <a class="btn btn-primary btn-lg" href="/blogs/business" role="button">Business</a>
    <a class="btn btn-primary btn-lg" href="/blogs/politics" role="button">Politics</a>
    <a class="btn btn-primary btn-lg" href="/blogs/opinion" role="button">Opinion</a>
    <a class="btn btn-primary btn-lg" href="/blogs/science" role="button">Science</a>
    <a class="btn btn-primary btn-lg" href="/blogs/health" role="button">Health</a>
    <a class="btn btn-primary btn-lg" href="/blogs/style" role="button">Style</a>
    <a class="btn btn-primary btn-lg" href="/blogs/travel" role="button">Travel</a>

</div>